
body {
  font-family: "Source Sans Pro", sans-serif;
  border:15px solid #bdc7cf;
  margin: 0 auto;
  

  margin-left: 20%;
  margin-right: 20%;
 
  /*font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;*/
}

h1{
  
  text-transform:uppercase;
  color: #3098dd;
}

h2{
  color: #354b63;
}

.border{
  border-left: #bdc7cf;
}

